@model CartViewModel
@{
    ViewData["Title"] = "سبد خرید";
}

<h1>سبد خرید شما</h1>
<hr />

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>کالا</th>
            <th>تعداد</th>
            <th>قیمت</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>@item.Item.Product.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Item.Price</td>
                <td><a asp-action="RemoveCart" asp-route-itemid="@item.Item.Id">حذف</a></td>
            </tr>
        }
    </tbody>
</table>
<p>جمع کل : <h1>@Model.OrderTotal</h1></p>